* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #052751;
}
a{
    text-decoration: none;
    color: white;
}
.nav_bar_list{
    list-style-type: none;
}
nav{
    padding-left: 2%;
    background-color: #ffffff22;
}
.site_body {
    margin: 4px;
    background-color: #ffffff14;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

header main {
    margin-bottom: 8px;
}

main footer {
    margin-bottom: 8px;
}

.heading_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    color: white;
    /* list-style-type: circle; */
}

.site_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_section {
    background-color: #ffffff0d;
    padding: 10px;
    margin: 10px;
    /* border-radius: 10px; */
    /* color: white; */
}

a {
    text-decoration: none;
}

.study_material {
    display: block;
    color: white;
    padding: 4px;
}

.study_material:hover {
    background-color: #ffffff23;
    border-radius: 10px;
}

/* unique for page */



/* unique for page */

/* footer */

.footer_section_a {
    background-color: #ffffff0e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 10px;
}
.copyright_text{
    padding-right: 8px;
    padding-left: 8px;
}
.copy_logo{
    height: 10px;
    border-radius: 10px;
}