* {
    padding: 0;
    margin: 0;
}


body {
    background-color:#2E3440;
}
a{
    text-decoration: none;
    color: white;
}
main{
    margin-top: 40px;
    padding: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#3B4252;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img {
    height: 30px;
    padding-left: 8px;
}

.site-name {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

.menu-icon {
    color: rgb(255, 255, 255);
    font-size: 12px;
    cursor: pointer;
    padding-right: 8px;
}

.subject_button_text{
    background-color: #ffffff1b;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;

}

.popup-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 8px;
    background-color: #4C566A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    font-size: 10px;
}

.popup-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popup-menu li {
    border-bottom: 1px solid #444;
}

.popup-menu li:last-child {
    border-bottom: none;
}

.popup-menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    transition: background-color 0.3s;
    background-color: #4C566A;
}

.popup-menu a:hover {
    background-color: #434C5E;
}

.show {
    display: block;
}

.content_heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
}

.content_text_section{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: white;
    padding: 14px;
}

.contect_container{
    padding: 10px;
}
/* unique for page start */


/* unique for page end */


footer{
    /* display: flex; */

    /* position: sticky; */
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

.footer_content {
    display: flex;
    align-items: center;
    background-color:#3B4252;
    padding: 1px;

}

.copy_text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

.footer_list {
    list-style-type: none;
    margin-left: auto;
}

.footer_item_section {
    display: flex;

}

.footer_icon {
    height: 22px;
    border-radius: 50%;
}


.footer_link {
    color: white;
}








@media only screen and (max-width: 600px) {
    .logo img {
        height: 40px;
    }
    .site-name {
        font-size: 22px;
    }
    .menu-icon {
        font-size: 18px;
    }.popup-menu {
        top: 54px;
        right: 8px;
        font-size: 14px;
    }
    main{
        margin-top: 45px;
    }
    
  }